@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

.add, .delete{
    width: 150px;
    transition: width 0.7s;
}

.add:hover, .delete:hover{
    width: 180px;
}